* {
	box-sizing: border-box;
}

body {
	background-image: url(Polarexpress.jpg);
	background-size: cover;
}

.timeDisplayContainer {
	text-align: center;
}

p {
	font-size: 25px;
	margin-bottom: 5px;
}

#headerSpan {
	margin: 5px;
	font-size: 22px;
	color: purple;
}

.timeDisplay {
	float: left;
	margin-left: 20px;
	border: double 4px blue;
	border-radius: 5px;
	width: 325px;
	height: 80px;
	background-color: pink;
	opacity: 0.8;
}

.timeDisplayHead{
	margin: 5px;
}

.fourthHolder {
	clear: both;
	position: relative;
	width: 200px;
	height: 68px;
	top: 5px;
	left: 1160px;
	opacity: 0.95;
	background-image: 
}

.addTrain {
	position: relative;
	opacity: 0.75;
	margin-left: 20px;
	background-color: gold;
	width: 240px;
	top: -25px;
	float: left;
	border: solid 2px black;
	border-radius: 5px;
}

.fieldDiv {
	margin: 5px;
	color: blue;
	font-weight: bolder;
}

::-webkit-input-placeholder {
	font-size: 11px;
	color: red;
}

label {
	font-weight: bolder;
	font-size: 18px;
	margin: 3px;
}

.field {
	height: 25px;
	border-radius: 5px;
	font-size: 12px;
	padding: 4px;
	background-color: white;
	color: red;
	font-weight: bolder;
	margin: 3px;
}

table {
	padding: 2px;
	text-align: center;
}

.myTable {
	position: relative;
	top: 175px;
	float: right;
	border: solid 2px black;
	border-radius: 5px;
	margin-right: 20px;
	background-color: gold;
	opacity: 0.85;
}

h4 {
	text-align: left;
	margin: 0px;
	padding: 5px;
	background-color: orange;
	color: black;
	border-radius: 5px;
}

thead {
	padding: 2px;
}

th{
	font-size: 17px;
	font-weight: bolder;
	color: red;
	padding: 5px;
}

tbody {
	font-size: 13px;
	font-weight: bolder;
	color: red;
}

td.trainrowfrequency {
	color: black;
}